extends layout

block content
  div#impress
    div.step.slide(data-x="-2000", data-y="-1500")
      .alignCenter
        img(src="/images/Top-Secret.jpg" width="500px" style="padding-top: 100px")
        h1.title Project TipMiner
    div.step.slide(data-x="-1000", data-y="-1500")
      h1 Current Status: 
      h2 Independent Restuarants Held Hostage
      ul
        li Captor #1: The Time Bandit
        li Captor #2: The Paper Theif
        li Captor #3: The Historian
        li Captor #4: The Competitor
        li Captor #5: The Money Sucker
    div.step.slide(data-x="0", data-y="-1500")
      h1 Sketchy Prognosis
      ul
          li Minimum Wage
          li Mandatory Sick Pay
          li Healthcare
          li Worker's compensation insurance
          li Corporatizion of the Industry
    div.step.slide(data-x="1000", data-y="-1500")
      h1 Recommendation: <br/><br/><br/>Hostage Extraction
    div#title.step(data-x="0", data-y="0" data-scale="4")
      span.try Meet Project
      h1 TipMiner<sup>*</sup>
      span.footnote <sup>*</sup> working title...may change
    // div.step(data-x="2825", data-y="2325", data-rotate="0", data-z="-3000", data-scale="1")
    //   h1 Another title
    //     p antoher paragraph
    div#its.step(data-x="850", data-y="3000", data-rotate="90" data-scale="5")
      p It's a <strong>suite of tools</strong> <br/>
        | inspired by availability of the <br/> cloud version of Quickbooks 
        | and the value of being a Triple A member.
    div#big.step(data-x="3500", data-y="2100", data-rotate="180",  data-scale="5")
      p zero <b>2</b>
        span.thoughts Awesome!
    div#tiny.step(data-x="2825", data-y="2325", data-rotate="90", data-z="-3000", data-scale="1")
      p Let's talk about build out
    div#step1.step(data-x="2000", data-y="1000", data-rotate="180", data-z="-2000", data-scale="1")
      h1 Data exchange
      p data in > productivity out
    div#step2.step(data-x="2500", data-y="1500", data-rotate="0", data-z="-2000", data-scale="1")
      h2 Core Data Input
      ul
          li People (personal info, jobs, availability, schedule)
          li Menus (item names, description, sizes, prices)
      h2 Outputs
      ul
        li Inter-staff communication
        li Schedule efficiencies and accuracy
        li Staff training on Menus
        li Automatic menu population in website
    div#step4.step(data-x="2200", data-y="3000", data-rotate="90", data-z="-1000", data-scale="2")
      h2 Processes to Model
      ul
        li Training
        li Side-Work
        li Menu Management
        li Banquet Managment
        li Marketing Workflows
        li Inventory Management
        li And more...
    div#step5.step(data-x="-4000", data-y="1000", data-rotate="180", data-z="-2000", data-scale="1")
      h2 The Extraction Team
      h3 Skill Set
      ul
        li Programmers at heart
        li Domain Experts
        li Previous Work History Together
        li Motivated to 'gitter' done
        li Friendly, outgoing and no ego!
      p Meet...Chris Baily and Michael Robertson
    div#step6.step(data-x="-2400", data-y="1000", data-rotate="180", data-z="-2000", data-scale="1")
      h2 Logistics
      ul
        li Open Source Tech
        li Cloud based architecture
        li Multiple client formats (mobile, web, desktop)
    div#step7.step(data-x="-3000", data-y="2000", data-rotate="180", data-z="-2000", data-scale="1")
      h2 Timeline
      ul
        li Year 1-2 (build out)
        li Year 3-5 (product refinements/growth)
    div#step8.step(data-x="-3000", data-y="3000", data-rotate="180", data-z="-2000", data-scale="1")
      h2 Peacetime Success
      p About $1M in sales and 5 well paying jobs and maybe more!
    div#overview.step(data-x="3000" data-y="1500" data-scale="10")


block scripts
  script(type="text/javascript", src="/javascripts/impress.js")
  script(type="text/javascript", src="/javascripts/start.js")
  